.ext-1 {
    display: flex;
    justify-content: space-between;
}

.ext-2 {
    display: flex;
    gap: 4rem;
}

.rounded {
    border-radius: 20%;
}

.actions {
    padding: 0.5rem;
}

.actions button {
    background-color: transparent;
    border: 0px
}

.table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 20px;
    border: 1px solid #D3D3D3;
    overflow: hidden;
}

.table thead {
    background-color: #5E5E5E;
    border-radius: 20px;
    color: white;

}

.table td {
    border: 0;
}

.table tr:nth-child(even) {
    background-color: #F5F5F5;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}