.expanded {
    margin-left: 80px;
}

.breadcrumb {
    font-size: 13px !important;
}

.color-selected {
    color: #E84D0E;
}

.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 86vh;
  overflow-y: scroll;
}